
@media only screen and (max-width: 1200px) {

    html{
        font-size: 62.5%;
    }

}

@media only screen and (max-width: 1024px) {


}

@media only screen and (max-width: 992px) {

    header{
        height: 17rem;
        padding: 1.5rem 0;
    }
    .logo-class{
        text-align: center;
    }
    .logo{
        float: none;
        margin: 1rem 0;

    }
    .top-nav{
        height: 6rem;
    }
    .banar-p {
        font-size: 2.5rem;

    }
    .banar span {
        font-size: 1.5rem;
    }


}
@media only screen and (max-width: 768px) {

    header{
        height: 16rem;
        padding: 1.5rem 0;
    }
    .header-cover {
        height: 28rem;
    }
    .top-nav{
        float: none;
    }
    .footer{
        padding: 2rem 0;
        height: 60rem;
    }
    .last-f{
        text-align: center;
    }
    .banar-a, .banar-b {

        margin-left: 0rem;
    }
    .banar-a i, .banar-b i {
        font-size: 3rem;
        margin-right: 1.5rem;
    }
    .choose{
        background: blueviolet;
    }
    .c-ul li i {
        color: black;
    }
}
@media only screen and (max-width: 576px) {

    .top-nav{
        display: none;

    }
    header{
        height: 8rem;
        padding: 1.5rem 0;
    }
    .last-f{
        text-align: center;
    }
    .footer{
        padding: 2rem 0;
        height: 90rem;
    }
}

@media only screen and (max-width: 576px) {
    .footer{
        height: 100rem;
    }
}
